.hidden {
    display: none;
}

body {
    font-size: 16px;
    background-color: #fff;
    color:red#000;
    margin: 0;
    padding: 0;
}

.icon-container {
    display: flex;
    flex-direction: row;
}
.icon-container div {
    width: 50%;
}
#greytext {
    transition: all 0.5s ease;
    transform-origin: center;
}
#bgcircle {
    transition: all 1s linear;
}
#badge:hover #greytext {
    fill: #fff;
    transform: rotate(130deg);
}
#badge:hover #bgcircle {
    fill: orange;
}